<h2><%= link_to @student.form.name, :controller=>"forms", :action=>"show", :id=>@student.form.id %> : <%= @student.name %></h2>

	<!--=============================================================-->
		<section class="row-fluid">
			
			<!-- School latest
				================================================== -->
			<!-- Last activity
				================================================== -->
			<div class="span12">
				<h3 class="box-header">
					<i class="icon-time"></i>
					Applications
				</h3>
				<div class="box">
				<% if !(@student.nil?) %>
<table class="table table-striped table-bordered table-condensed" id="sortable">
<thead>
<th><span class="label">Open</span></th>
<th><span class="label label-warning">Interviews</span></th>
<th><span class="label label-important">Rejection</span></th>
<th><span class="label label-inverse">Wait List</span></th>
<th><span class="label label-info">Offer</span></th>
<th><span class="label label-success">Place</span></th>
</thead>
<tbody>
<tr>
<td>
<!-- need to make this MUCH more efficient -->
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 1 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>

</td>
<td>
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 2 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>
</td>
<td>
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 5 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>

</td>
<td>
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 7 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>

</td>
<td>
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 3 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>

</td>
<td>
<% if @student.applying? %>
	<% @student.submissions.each do |app| %>
		<% if app.status.id == 4 %>
			<%= link_to app.school.name, :controller =>"schools", :action => "show", :id => app.school.id %><br/>
		<%end %>
	<% end %>
<% end %>

</td>
</tr>

</tbody>
</table>
<% end %>
				</div>
			</div>
			<!-- / Last activity -->
</SECTION>
<section class="row-fluid">
	<div class="span8">
		<h3 class="box-header">
			<i class="icon-signal"></i>
			Results
		</h3>
		<div class="box">
			<div id="visits-chart"></div>
			<br/>
		</div>
	</div>
	
	<div class="span4">
		<h3 class="box-header">
			<i class="icon-home"></i>
			Details
		</h3>
		<div class="box">
		<% if @student.nfers? %>
		<table class="table">
			<thead>
			<th>Subject</th>
			<th>Raw</th>
			<th>S.S.</th>
			<th>Date</th>
			</thead>
			<tbody>
			<% @english_results.each do |y| %>
			<tr>
			<td>English</td>
			<td><%= y.raw.to_s %></td>
			<td><%= y.ss.to_s %></td>
			<td><%= y.date_taken.strftime("%b %Y")%></td>
			</tr>
			<% end %>
			<% @maths_results.each do |y| %>
			<tr>
			<td>Maths</td>
			<td><%= y.raw.to_s %></td>
			<td><%= y.ss.to_s %></td>
			<td><%= y.date_taken.strftime("%b %Y")%></td>
			</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
		</div>
				
	</div>
</section>

