<h1>Listing Users</h1>
<i>Scroll down to add users</i>
<hr>
<div class="span8">
<table class="table table-striped table-bordered" id="sortable">
<thead>
<tr>
<th>Username</th>
<th>Email</th>
<!-- <th>Edit</th> -->
<th>Registered</th>
<th>Role</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
<td><%= link_to user.name, user %></td>
<td><%= user.email %></td>
<td><%= user.created_at.to_date %></td>
<td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
<td>
<a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
<%= render user %>
</td>
<td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
</tr>
<% end %>
</tbody>
</table>


</div>
<div style="clear:both;">
<br><br>
<h3>Bulk Add</h3>
<i>CSV file should be e.g </i>"Subject, Raw, Stand, StudentRef, date_taken"
<br>
<%= form_tag import_nfers_url, :multipart => true do %>
<%= file_field_tag "file" %>
<%= submit_tag "Upload and do your worst ..."%>
<% end %>
</div>


