<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @nfer.subject %>
</p>

<p>
  <b>Raw:</b>
  <%= @nfer.raw %>
</p>

<p>
  <b>Ss:</b>
  <%= @nfer.ss %>
</p>

<p>
  <b>Student:</b>
  <%= @nfer.student_id %>
</p>

<p>
  <b>Schoolreference:</b>
  <%= @nfer.schoolreference %>
</p>
<p>
<b>Date-taken</b>
  <%= @nfer.date_taken %>
</p>


<%= link_to 'Edit', edit_nfer_path(@nfer) %> |
<%= link_to 'Back', nfers_path %>
